<div class="app">
  <div class="app__header">
    <img
      class="app__headerImage"
      height="40px;"
      src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png"
      alt=""
    />

    <div class="app__loginContainer">
      <button mat-icon-button (click)="select.open()">
        <mat-icon>language</mat-icon>
        <mat-select #select class="langSelect" (selectionChange)="changeLang($event)">
          <mat-option value="pl">PL</mat-option>
          <mat-option value="en">EN</mat-option>
        </mat-select>
      </button>
      <ng-container *ngIf="!isAuth()">
        <button mat-button (click)="openLoginDialog()">{{'header.login' | translate}}</button>
        <button mat-button (click)="openRegisterDialog()">{{'header.register' | translate}}</button>
      </ng-container>
      <ng-container *ngIf="isAuth()">
        <button mat-button (click)="openPostDialog()">{{'header.addPost' | translate}}</button>
        <button mat-button (click)="logout()">{{'header.logout' | translate}}</button>
      </ng-container>
    </div>
  </div>

  <div class="app__posts">
    <div class="app__postsLeft">
      <ng-container *ngFor="let postDetail of posts">
        <app-post [postDetails]="postDetail" (deletePosts)="handleDeletePosts($event)"></app-post>
      </ng-container>
    </div>
  </div>
  <div *ngIf="pagination.page < lastPage" class="app__loadMore">
    <mat-icon (click)="getNextPage()">keyboard_arrow_down</mat-icon>
  </div>
</div>
