<div class="app">
  <div class="app__header">
    <img
      class="app__headerImage"
      height="40px;"
      src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png"
      alt=""
    />

    <div class="app__loginContainer">
      <button mat-button (click)="openLoginDialog()">Sign In</button>
      <button mat-button (click)="openRegisterDialog()">Sign Up</button>
    </div>
  </div>

  <div class="app__posts">
    <div class="app__postsLeft">
      <ng-container *ngFor="let postDetail of posts">
        <app-post [postDetails]="postDetail"></app-post>
      </ng-container>
    </div>
  </div>
</div>
