<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="form">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">No Thanks</button>
  <button
    mat-button
    [disabled]="form.invalid"
    (click)="login()"
    cdkFocusInitial
  >
    Login
  </button>
</div>
