<div class="post">
  <div class="post__header">
    <h3>{{ postDetails.author }}</h3>
  </div>

  <img
    class="post__image"
    [src]="postDetails.photo ?? 'assets/images/photoPlaceholder.png'"
    alt=""
  />

  <div class="post__icons">
    <div class="post__icons--icon">
      <mat-icon
        [class.gray-icon]="!postDetails.isLiked"
        [class.red-icon]="postDetails.isLiked"
        (click)="handleLike()"
        >favorite</mat-icon
      >
      <span>{{ postDetails.likes }}</span>
    </div>
  </div>

  <div class="post__text">
    <strong>{{ postDetails.author }}:</strong> {{ postDetails.title }}
  </div>

  <div class="post__comments">
    <p *ngFor="let comment of postDetails.comments" class="post__comments--comment">
      <span>
        <b>{{ comment.author }}:</b> {{ comment.comment }}
      </span>
      <mat-icon class="post__comments--commentIcon" (click)="deleteComment(comment.id)">close</mat-icon>
    </p>
  </div>

  <div class="post__commentBox">
    <input
      mat-input
      class="post__input"
      type="text"
      [(ngModel)]="commentValue"
      placeholder="{{ 'main.posts.comment.placeholder' | translate }}"
    />
    <button
      [disabled]="!commentValue"
      mat-button
      class="post__button"
      (click)="addComment()"
    >
      {{ "main.posts.comment.post" | translate }}
    </button>
  </div>
</div>
