.post {
  background-color: white;
  max-width: 500px;
  border: 1px solid lightgray;
  margin-bottom: 45px;

  &__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    display: block;

    &Container {
      position: relative;
    }
    &--heart {
      transform: scale(5);
      opacity: 0.85;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
    }
  }

  &__icons {
    font-weight: normal;
    padding-left: 10px;
    border-bottom: 1px solid lightgray;

    &--icon {
      display: flex;
      vertical-align: center;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__text {
    font-weight: normal;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
  }

  &__avatar {
    margin-right: 10px;
  }

  &__commentBox {
    display: flex;
    margin-top: 5px;
  }

  &__input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
  }

  &__button {
    flex: 0;
    border: none;
    color: #6082a3;
    border-top: 1px solid lightgray;

    &:disabled {
      color: gray;
    }
  }

  &__comments {
    padding-left: 10px;

    &--comment {
      display: flex;
      justify-content: space-between;
      align-items: center;
      vertical-align: center;

      &Icon {
        transform: scale(0.5);
        &:hover {
          cursor: pointer;
          color: red;
        }
      }
    }
  }
}

