<div class="post">
  <div class="post__header">
    <h3>{{ postDetails.author }}</h3>
  </div>

  <img
    class="post__image"
    [src]="postDetails.photo ?? 'assets/images/photoPlaceholder.png'"
    alt=""
  />

  <div class="post__icons">
    <div class="post__icons--icon">
      <mat-icon (click)="addLike()">favorite</mat-icon>
      <span>{{postDetails.likes}}</span>
    </div>
  </div>

  <div class="post__text">
    <strong>{{ postDetails.author }}:</strong> {{ postDetails.title }}
  </div>

  <div class="post__comments">
    <!-- {comments.map((comment) => (
    <p><b>{comment.username}</b> {comment.comment}</p>
    ))} -->
  </div>

  <div class="post__commentBox">
    <input
      mat-input
      class="post__input"
      type="text"
      placeholder="{{'main.posts.comment.placeholder' | translate}}"
    />
    <button mat-button class="post__button" (click)="(null)">{{'main.posts.comment.post' | translate}}</button>
  </div>
</div>
