.post {
  background-color: white;
  max-width: 500px;
  border: 1px solid lightgray;
  margin-bottom: 45px;

  &__image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }

  &__icons {
    font-weight: normal;
    padding-left: 10px;
    border-bottom: 1px solid lightgray;

    &--icon {
      display: flex;
      vertical-align: center;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__text {
    font-weight: normal;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  &__avatar {
    margin-right: 10px;
  }

  &__commentBox {
    display: flex;
    margin-top: 10px;
  }

  &__input {
    flex: 1;
    border: none;
    padding: 10px;
    border-top: 1px solid lightgray;
  }

  &__button {
    flex: 0;
    border: none;
    color: #6082a3;
    border-top: 1px solid lightgray;
  }

  &__comments {
    padding: 20px;
  }
}
