<h1 mat-dialog-title>{{'main.posts.post.add'| translate}}</h1>
<div mat-dialog-content>
  <form [formGroup]="form" class="imageupload">
    <mat-form-field appearance="fill">
      <mat-label>{{'main.posts.post.title'| translate}}</mat-label>
      <input matInput type="text" formControlName="title" />
    </mat-form-field>

    <input hidden
    #fileInput (change)="patchPhoto($event)" type="file" />
    <button mat-button (click)="fileInput.click()">{{'main.posts.post.photo'| translate}}</button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">{{'common.buttons.close' | translate}}</button>
  <button
    mat-button
    [disabled]="form.invalid"
    (click)="addPost()"
    cdkFocusInitial
  >
  {{'main.posts.post.add' | translate}}
  </button>
</div>
